input.search {
  max-width: 25%;
  margin-bottom: 40px;
}

.filters {
  margin-bottom: 40px;
}

.weight-500 {
  font-weight: 500 !important;
}

@media (max-width: 600px) {

  input.search {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .filters {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

}
