<div class="row">

  <div class="col-sm-12">

    <div class="card">

      <div class="card-header center">

        <h3>Faturas</h3>

      </div>

      <div class="card-body">

        <!-- search -->

        <div class="row">

          <div class="col-sm-4 input-group">

            <div class="floating-labels">

              <input class="form-control date" [(ngModel)]="date_begin" ngbDatepicker [footerTemplate]="footerTemplate"
                #begin="ngbDatepicker" (click)="begin.toggle()" readonly [minDate]="begin_min" [maxDate]="begin_max">

              <label>Início</label>

            </div>

            <div class="input-group-append">

              <button class="btn btn-outline-secondary fa fa-calendar calendar" (click)="begin.toggle()"
                id="button_begin"></button>

            </div>

            <div class="floating-labels">

              <input class="form-control date" [(ngModel)]="date_end" ngbDatepicker [footerTemplate]="footerTemplate"
                #end="ngbDatepicker" (click)="end.toggle()" readonly [minDate]="end_min" [maxDate]="end_max">

              <label>Fim</label>

            </div>

            <div class="input-group-append">

              <button class="btn btn-outline-secondary fa fa-calendar calendar" (click)="begin.toggle()"
                id="button_begin"></button>

            </div>

          </div>

          <div class="col-sm-4 input-group">

            <input type="text" class="form-control radius-0" placeholder="Procurar por usuário">

            <span class="input-group-btn">

              <button class="btn btn-primary search"><i class="fa fa-search"></i></button>

            </span>

          </div>

          <div class="col-sm-4">

            <div class="dropdown filters">

              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Filtros</button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <h6 class="dropdown-header">Filtrar por status</h6>

                <a class="dropdown-item" href="#">Todas</a>

                <a class="dropdown-item" href="#">Pagas</a>

                <a class="dropdown-item" href="#">Pendentes</a>

              </div>

            </div>

          </div>

        </div>

        <!-- search -->

        <div class="table-responsive m-t-20">

          <table class="table table-hover">

            <thead>

              <tr>

                <th>Emissão</th>

                <th>Usuário</th>

                <th>Plano</th>

                <th>Valor</th>

                <th class="text-center" width="1">Status</th>

              </tr>

            </thead>

            <tbody>

              <tr class="pointer">

                <td>

                  11 set 2019 às 18:06:50

                </td>

                <td>

                  lukaspgtu

                </td>

                <td>

                  <img class="m-r-10" src="https://diamondtrader.co/api/img/green.png" width="30"> Green

                </td>

                <td>

                  $300.00

                </td>

                <td class="text-center">

                  <span class="label label-success block">Confirmada</span>

                </td>

              </tr>

              <tr class="pointer">

                <td>

                  11 set 2019 às 18:06:50

                </td>

                <td>

                  lukaspgtu

                </td>

                <td>

                  <img class="m-r-10" src="https://diamondtrader.co/api/img/premium.png" width="30"> Cota Premium

                </td>

                <td>

                  $300.00

                </td>

                <td class="text-center">

                  <span class="label label-default block">Pendente</span>

                </td>

              </tr>

            </tbody>

          </table>

          <h6>Exibindo 10 de 10 faturas encontradas</h6>

        </div>

      </div>

    </div>

  </div>

</div>

<ngx-spinner bdOpacity=0.9 bdColor="white" size="medium" color="#EDA54B" type="ball-clip-rotate-pulse"
  [fullScreen]="true">

  <p style="color:grey ;"> Diamond Trading </p>

</ngx-spinner>