<div class="row">

  <div class="col-sm-12">

    <div class="card">

      <div class="card-header center">

        <h3>Documentos</h3>

      </div>

      <div class="card-body">

        <div class="row">

          <div class="justify-content-center input-group">

            <input type="text" class="form-control radius-0 search" placeholder="Buscar por usuário">

            <span class="input-group-btn">

              <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>

            </span>

            <div class="dropdown filters">

              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Filtros</button>

              <div class="dropdown-menu dropdown-menu animated flipInY m-t-40" aria-labelledby="dropdownMenuButton">

                <h6 class="dropdown-header">Filtrar por status</h6>

                <a class="dropdown-item" href="#">Todos</a>

                <a class="dropdown-item" href="#">Aprovado</a>

                <a class="dropdown-item" href="#">Reprovado</a>

              </div>

            </div>

          </div>

        </div>

        <div class="table-responsive">

          <table class="table table-hover">

            <thead>

              <tr>

                <th>Cliente</th>

                <th>Usuário</th>

                <th>Gestor</th>

                <th width="1">Status</th>

              </tr>

            </thead>

            <tbody>

              <tr class="pointer">

                <td>

                  Jonatan Martins Pacheco

                </td>

                <td>

                  Sharkjmp

                </td>

                <td>

                  lukaspgtu

                </td>

                <td>

                    <span class="block label label-success text-center">Aprovado</span>

                </td>

              </tr>

            </tbody>

          </table>

          <h6>Exibindo 10 de 10 clientes encontrados.</h6>

        </div>

      </div>

    </div>

  </div>

</div>

<ngx-spinner bdOpacity=0.9 bdColor="white" size="medium" color="#EDA54B" type="ball-clip-rotate-pulse"
  [fullScreen]="true">

  <p style="color:grey ;"> Diamond Trading </p>

</ngx-spinner>
