<div class="row">

  <div class="col-sm-12">

    <div class="card">

      <div class="card-header center">

        <h3>Sistema</h3>

      </div>

      <div class="card-body">

        <div class="vtabs customvtab">

          <ul class="nav nav-tabs tabs-vertical" role="tablist">

            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home3" role="tab"><span
                  class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down"> Admins</span> </a>
            </li>

            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages3" role="tab"><span
                  class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down"> Logs</span></a>
            </li>

            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages3" role="tab"><span
                  class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down"> Rendimento</span></a>
            </li>

            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages3" role="tab"><span
                  class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down"> Saque</span></a>
            </li>

            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile3" role="tab"><span
                  class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down"> Taxas</span></a>
            </li>

          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="home3" role="tabpanel">
              <div class="p-20">
                <h3>Best Clean Tab ever</h3>
                <h4>you can use it with the small code</h4>
                <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                  imperdiet a.</p>
              </div>
            </div>
            <div class="tab-pane  p-20" id="profile3" role="tabpanel">2</div>
            <div class="tab-pane p-20" id="messages3" role="tabpanel">3</div>
          </div>
        </div>


      </div>

    </div>

  </div>

</div>
