<div class="row">

    <div class="col-sm-12">

        <div class="card">

            <div class="card-header text-center">

                <h3>Extrato</h3><br>

            </div>

            <div>
                <hr>
            </div>

            <div class="card-body center">

                <div class="row">

                    <form class="form-inline">

                        <div class="col-md-5">

                            <div class="form-group">

                                <div class="input-group">

                                    <input class="form-control" placeholder="Data Inicial" name="dp"
                                        [(ngModel)]="date_begin" ngbDatepicker [footerTemplate]="footerTemplate"
                                        #begin="ngbDatepicker" (dateSelect)="checkBegin()" (click)="begin.toggle()"
                                        readonly [minDate]="begin_min" [maxDate]="begin_max">

                                    <div class=" input-group-append">

                                        <button class="btn btn-outline-secondary fa fa-calendar input-date"
                                            (click)="begin.toggle()" type="button" id="button_begin"></button>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="col-md-7">

                            <div class="form-group">

                                <div class="input-group">

                                    <input class="form-control" placeholder="Data Final" name="dp"
                                        [(ngModel)]="date_end" ngbDatepicker [footerTemplate]="footerTemplate"
                                        #end="ngbDatepicker" (click)="end.toggle()" readonly (dateSelect)="checkEnd()"
                                        [minDate]="end_min" [maxDate]="end_max">

                                    <div class=" input-group-append">

                                        <button class="btn btn-outline-secondary fa fa-calendar input-date"
                                            (click)="end.toggle()" type="button" id="button_end"></button>

                                    </div>

                                    <div ngbDropdown class="d-inline-block">
                                        <button class="btn btn-link" type="button" id="dropdownBasic1"
                                            ngbDropdownToggle>Filtros</button>

                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

                                            <button type="button" ngbDropdownItem
                                                (click)="filterByType(1)">Bônus</button>

                                            <button type="button" ngbDropdownItem
                                                (click)="filterByType(3)">Rendimentos</button>

                                            <button type="button" ngbDropdownItem
                                                (click)="filterByType(2)">Indicações</button>

                                            <button type="button" ngbDropdownItem (click)="filterAll()">Todos</button>


                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </form>

                </div><br>

                <div class="row">

                    <div class="col-md-6">


                    </div>

                </div>

            </div>

            <!-- <div>
                <hr>
            </div> -->

            <div class="text-center">

                <div *ngIf="value_filter">

                    <p>Filtrando por: <span class="bold">{{value_filter}}</span></p>

                </div>

                <div *ngIf="!extracts">
                    <h1>vazio</h1>

                </div>

                <table class="table table-hover" *ngIf="extracts">

                    <tr>
                        <th></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>

                    <tbody>

                        <tr *ngFor="let item of  extracts | paginate: { itemsPerPage: 10, currentPage: paginaAtual };let i = index"
                            data-toggle="modal" data-target=".bd-example-modal-lg" (click)="viewExtract(item.id)">

                            <td>
                                <span>
                                    {{ item.created_at | date:'dd LLL, hh:mm:ss' }}

                                </span>
                            </td>

                            <td>

                                <span *ngIf="item.type==1"> Bônus Binário</span>
                                <span *ngIf="item.type==3"> Rendimento Fixo</span>
                                <span *ngIf="item.type==2"> Indicação Direta</span>
                            </td>

                            <td>
                                <span class="text-success bold"> +{{ item.value | currency }}</span>
                            </td>

                        </tr>

                    </tbody>

                </table>

                <div class="text-center" *ngIf="extracts.length>10">

                    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
                        nextLabel="Próximo" (isLastPage)="true"></pagination-controls>

                </div>

            </div>

        </div>

    </div>

</div>

<ngx-spinner bdOpacity=0.9 bdColor="white" size="medium" color="#EDA54B" type="ball-clip-rotate-pulse"
    [fullScreen]="true">
    <p style="color:grey ;"> Diamond Trading </p>
</ngx-spinner>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel">Detalhes Extrato</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                </button>

            </div>

            <div class="modal-body" *ngIf="extract_selected">

                <div class="card-header text-center">

                    <img src="{{extract_selected.plan.img}}" width="100px;"><br>

                    <h3 *ngIf="extract_selected.type==1"> Bônus Binário</h3>
                    <h3 *ngIf="extract_selected.type==3"> Rendimento Fixo</h3>
                    <h3 *ngIf="extract_selected.type==2"> Indicação Direta</h3>

                </div>

                <!--TABLE BONUS-->
                <table class="table table-hover text-center" *ngIf="extract_selected.type==1">

                    <tbody>

                        <tr>

                            <td>

                                <span class="bold">Valor:</span>
                            </td>

                            <td>

                                <span class="text-success">{{extract_selected.value | currency}}</span>
                            </td>

                        </tr>

                        <tr>

                            <td>

                                <span class="bold">Data Criação:</span>
                            </td>

                            <td>

                                {{extract_selected.created_at | date:' dd/MM/yyyy, hh:mm:ss'}}
                            </td>

                        </tr>

                        <tr>

                            <td>

                                <span class="bold">Pontos:</span>
                            </td>

                            <td>

                                {{extract_selected.points}}
                            </td>

                        </tr>

                        <tr>

                            <td>

                                <span class="bold">Lado:</span>
                            </td>

                            <td>

                                {{extract_selected.side}}
                            </td>

                        </tr>

                    </tbody>

                </table>

                <!--TABLE INVESTIMENT-->
                <table class="table table-hover text-center" *ngIf="extract_selected.type==2">

                    <tbody>

                        <tr>

                            <td>

                                <span class="bold">Nome:</span>
                            </td>

                            <td>

                                <span>{{extract_selected.client.name}}</span>
                            </td>

                        </tr>

                        <tr>

                            <td>

                                <span class="bold">Username:</span>
                            </td>

                            <td>

                                <span>{{extract_selected.client.username}}</span>
                            </td>

                        </tr>

                        <tr>

                            <td>

                                <span class="bold">Valor:</span>
                            </td>

                            <td>

                                <span class="text-success">{{extract_selected.value | currency}}</span>
                            </td>

                        </tr>

                        <tr>

                            <td>

                                <span class="bold">Data Criação:</span>
                            </td>

                            <td>

                                {{extract_selected.created_at | date:' dd/MM/yyyy, hh:mm:ss'}}
                            </td>

                        </tr>

                    </tbody>

                </table>


                <!--TABLE REDIMENT-->
                <table class="table table-hover text-center" *ngIf="extract_selected.type==3">

                    <tbody>

                        <tr>

                            <td>

                                <span class="bold">Valor:</span>
                            </td>

                            <td>

                                <span class="text-success">{{extract_selected.value | currency}}</span>
                            </td>

                        </tr>

                        <tr>

                            <td>

                                <span class="bold">Porcentagem:</span>
                            </td>

                            <td>

                                <span class="text-info">{{extract_selected.percent}}</span>
                            </td>

                        </tr>

                        <tr>

                            <td>

                                <span class="bold">Data Criação:</span>
                            </td>

                            <td>

                                {{extract_selected.created_at | date:' dd/MM/yyyy, hh:mm:ss'}}
                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

