.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}

.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

table {
    /* border: none !important; */
    /* color:white !important; */
    border: hidden;
}

tbody {
    border: hidden;
}

tr {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.form-control:read-only {
    background: white !important;
    border-right: 0 !important;
}

.input-date {
    border: 1px solid #ced4da !important;
    border-left: 0 !important;
}