<div class="row">

    <div class="col-sm-12">

        <div class="card">

            <div class="card-header text-center">

                <h3>Diretos</h3><br>

                <div class="row">

                    <div class="col-md-4"></div>

                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-11">

                                <form form="statusForm">

                                    <input type="text" id="search" class="form-control rounded text-center"
                                        placeholder="Username" (change)="listUser()"><br>

                                    <div class="row text center">

                                        <div class="col-md-3">
                                        </div>

                                        <div class="col-md-3">

                                            <label for="rdo-1" class="btn-radio">

                                                <input type="radio" id="rdo-1" name="radio-grp"
                                                    (click)="choiceStatus(1)">

                                                <svg width="15px" height="15px" viewBox="0 0 20 20">

                                                    <circle cx="10" cy="10" r="9"></circle>

                                                    <path
                                                        d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                                                        class="inner"></path>

                                                    <path
                                                        d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                                                        class="outer"></path>

                                                </svg>

                                                <span class="m-l-5">Ativo</span>

                                            </label>

                                        </div>

                                        <div class="col-md-4">

                                            <label for="rdo-2" class="btn-radio">

                                                <input type="radio" id="rdo-2" name="radio-grp"
                                                    (click)="choiceStatus(0)">

                                                <svg width=" 15px" height="15px" viewBox="0 0 20 20">

                                                    <circle cx="10" cy="10" r="9"></circle>

                                                    <path
                                                        d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                                                        class="inner"></path>

                                                    <path
                                                        d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                                                        class="outer"></path>

                                                </svg>

                                                <span class="m-l-5">Inativo</span>

                                            </label>

                                        </div>


                                        <div class="col-md-2">
                                        </div>

                                    </div>

                                </form>

                            </div>

                            <div class="col-md-1">

                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-link" type="button" id="dropdownBasic1"
                                        ngbDropdownToggle>Filtros</button>

                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

                                        <button type="button" (click)="choiceSide('R')" ngbDropdownItem>Lado
                                            Direito</button>

                                        <button type="button" (click)="choiceSide('L')" ngbDropdownItem>Lado
                                            Esquerdo</button>

                                        <button type="button" (click)="clearFliters()" ngbDropdownItem>Listar
                                            Todos</button>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4"></div>

                </div>

            </div>

            <!-- <div>
                <hr>
            </div> -->

            <br>
            <div class="card-body">

                <div class="text-center" *ngIf="value_filter">

                    <p>Filtrando por: <span class="bold" *ngIf="value_filter=='L'">Lado Esquerdo</span>

                        <span class="bold" *ngIf="value_filter=='R'">Lado Direito</span>

                        <span class="bold" *ngIf="value_filter==1">Ativo</span>

                        <span class="bold" *ngIf="value_filter==0">Inativo</span>
                    </p>

                </div>

                <table class="table table-hover text-center">

                    <tbody>

                        <tr *ngFor="let item of allDirects">

                            <td>{{item.created_at | date:' dd/MM/yyyy, hh:mm'}}</td>

                            <td>{{item.name}}</td>

                            <td>{{item.username}}</td>


                            <td>
                                <span *ngIf="item.side=='L'">Esquerdo</span>

                                <span *ngIf="item.side=='R'">Direito</span>

                            </td>

                            <td>
                                <span *ngIf="item.status==1" class="label label-success">Ativo</span>

                                <span *ngIf="item.status==0" class="label label-danger">Inativo</span>

                            </td>

                        </tr>

                    </tbody>


                </table>

            </div>

        </div>

    </div>

</div>

<ngx-spinner bdOpacity=0.9 bdColor="white" size="medium" color="#EDA54B" type="ball-clip-rotate-pulse"
    [fullScreen]="true">
    <p style="color:grey ;"> Diamond Trading </p>
</ngx-spinner>