<div class="row" *ngIf="plans; else loading">

  <div class="col-sm-12">

    <div class="card">

      <div class="card-header center">

        <h3>Planos</h3><br>

      </div>

      <div class="card-body">

        <div class="table-responsive">

          <table class="table">

            <thead>

              <tr>

                <th class="text-center" colspan="2">Plano</th>

                <th class="text-center">Preço</th>

                <th class="text-center">Pontos</th>

                <th class="text-center">Porcentagem</th>

                <th class="text-center">Teto Diário</th>

                <th class="text-center">Teto Binário</th>

              </tr>

            </thead>

            <tbody>

              <tr *ngFor="let item of plans">

                <td class="text-rigth">

                  <img src="../../../assets/images/plan/{{ item.photo }}" width="60">

                </td>

                <td class="text-left">

                  {{ item.name }}

                  <span class="label label-primary m-l-30" *ngIf="item.type == 1">Custom</span>

                </td>

                <td class="text-center">

                  $ {{ item.price | money }}

                </td>

                <td class="text-center">

                  {{ item.points }}

                </td>

                <td class="text-center">

                  {{ item.percent }}%

                </td>

                <td class="text-center">

                  $ {{ item.payment_limit | money }}

                </td>

                <td class="text-center">

                  $ {{ item.gain_limit | money }}

                </td>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

    </div>

  </div>

</div>

<ng-template #loading>

  <ngx-spinner bdOpacity=0.9 bdColor="white" size="medium" color="#363435" type="ball-clip-rotate-pulse"
    [fullScreen]="true">

    <p style="color:grey ;"> Diamond Trading </p>

  </ngx-spinner>

</ng-template>
