<div class="row" *ngIf="clients else loading">

  <div class="col-sm-12">

    <div class="card">

      <div class="card-header center">

        <h3>Clientes</h3>

      </div>

      <div class="card-body">

        <div class="row">

          <div class="justify-content-center input-group">

            <input type="text" class="form-control radius-0 search" placeholder="Buscar por usuário">

            <span class="input-group-btn">

              <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>

            </span>

            <div class="dropdown filters">

              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Filtros</button>

              <div class="dropdown-menu animated flipInY m-t-40" aria-labelledby="dropdownMenuButton">

                <h6 class="dropdown-header">Filtrar por status</h6>

                <a class="dropdown-item" href="#">Todos</a>

                <a class="dropdown-item" href="#">Ativo</a>

                <a class="dropdown-item" href="#">Inativo</a>

                <a class="dropdown-item" href="#">Expirado</a>

                <a class="dropdown-item" href="#">Bloqueado</a>

              </div>

            </div>

          </div>

        </div>

        <div class="table-responsive">

          <table class="table table-hover" #table>

            <thead>

              <tr>

                <th class="text-center">Data Do Cadastro</th>

                <th class="text-center">Nome</th>

                <th class="text-center">Usuário</th>

                <th class="text-center">Gestor</th>

                <th class="text-center">Plano</th>

                <th class="text-center" width="100">Status</th>

              </tr>

            </thead>

            <tbody>

              <tr class="pointer"
                *ngFor="let item of clients | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index" routerLink="/client/{{ item.token }}">

                <td class="text-center">

                  {{ item.created_at | date2 }}

                </td>

                <td class="text-center">

                  {{ item.name }}

                </td>

                <td class="text-center">

                  {{ item.username }}

                </td>

                <td class="text-center">

                  <span *ngIf="item.manager !== null">{{ item.manager }}</span>

                  <span *ngIf="item.manager === null">--</span>

                </td>

                <td class="text-center">

                  <span *ngIf="item.plan !== null">{{ item.plan }}</span>

                  <span *ngIf="item.plan === null">--</span>


                </td>

                <td class="text-center">

                  <span class="block label label-default text-center"
                    *ngIf="!item.is_blocked && item.status == 0">Inativo</span>

                  <span class="block label label-success text-center"
                    *ngIf="!item.is_blocked && item.status == 1">Ativo</span>

                  <span class="block label label-warning text-center"
                    *ngIf="!item.is_blocked && item.status == 2">Expirado</span>

                  <span class="block label label-danger text-center" *ngIf="item.is_blocked">Bloqueado</span>

                </td>

              </tr>

            </tbody>

          </table>

          <pagination-controls class="text-center" (pageChange)="currentPage = $event" previousLabel="Anterior"
            nextLabel="Próximo" (isLastPage)="true" responsive="true"></pagination-controls>

        </div>

      </div>

    </div>

  </div>

</div>

<ng-template #loading>

  <ngx-spinner bdOpacity=0.9 bdColor="white" size="medium" color="#363435" type="ball-clip-rotate-pulse"
    [fullScreen]="true">

    <p style="color:grey ;"> Diamond Trading </p>

  </ngx-spinner>

</ng-template>
