<section id="wrapper">

  <div class="login-register background-holder"
    style="background-image:url(../assets/images/background/fundo-login.jpg);">

    <div class="login-box card">

      <div class="card-body">

        <form class="form-horizontal form-material" [formGroup]="credentials">

          <div class="text-center m-b-40">

            <img src="../../../assets/images/logo/logo.png" width="100">

          </div>

          <div class="form-group">

            <div class="col-xs-12">

              <label for="email">E-mail</label>

              <input class="form-control" type="text" id="email" name="email" formControlName="email"
                autocomplete="off">

            </div>

          </div>

          <div class="form-group">

            <div class="col-xs-12">

              <label for="password">Senha</label>

              <input class="form-control" type="password" id="password" name="password" formControlName="password">

            </div>

          </div>

          <div class="form-group text-center">

            <div class="col-xs-12 p-b-20">

              <button class="btn btn-block btn-primary btn-rounded" (click)="login()">Entrar</button>

            </div>

            <div class="ml-auto">

              <a href="javascript:void(0)" id="to-recover" class="text-muted">

                <i class="fas fa-lock m-r-5"></i> Esqueceu sua senha?
              </a><br>

            </div>

          </div>

        </form>

      </div>

    </div>

  </div>

</section>

<ngx-spinner bdOpacity=0.9 bdColor="white" size="medium" color="#363435" type="ball-clip-rotate-pulse"
  [fullScreen]="true">

  <p style="color:grey ;"> Diamond Trading </p>

</ngx-spinner>
