<nav class="sidebar-nav">
  <ul id="sidebarnav">
    <!-- First level menu -->
    <li class="sidebar-item">
      <a class="sidebar-link waves-effect waves-dark" routerLink="/home" routerLinkActive="'active'">
        <i class="ti-home"></i>
        <span class="hide-menu">Home</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link waves-effect waves-dark" routerLink="/plans" routerLinkActive="'active'">
        <i class="ti-medall"></i>
        <span class="hide-menu">Planos</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link waves-effect waves-dark" routerLink="/network" aria-expanded="false">
        <i class="ti-signal"></i>
        <span class="hide-menu">Rede</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="has-arrow sidebar-link waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
        <i class="ti-user"></i>
        <span class="hide-menu">Clientes</span>
      </a>
      <ul aria-expanded="false" class="collapse">
        <li class="sidebar-item sub-item">
          <a class="sidebar-link" routerLink="/clients" routerLinkActive="active">Consultar</a>
        </li>
        <li class="sidebar-item sub-item">
          <a class="sidebar-link" routerLink="/additionalScore" routerLinkActive="active">Pontuação Adicional</a>
        </li>
        <li class="sidebar-item sub-item">
          <a class="sidebar-link" routerLink="/gainLimits" routerLinkActive="active">Limites de Ganho</a>
        </li>
        <li class="sidebar-item sub-item">
          <a class="sidebar-link" routerLink="/documents" routerLinkActive="active">Documentos</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">
      <a class="has-arrow sidebar-link waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
        <i class="ti-money"></i>
        <span class="hide-menu">Financeiro</span>
      </a>
      <ul aria-expanded="false" class="collapse">
        <li class="sidebar-item sub-item">
          <a class="sidebar-link" routerLink="/invoices" routerLinkActive="active">Faturas</a>
        </li>
        <li class="sidebar-item sub-item">
          <a class="sidebar-link" routerLink="/withdraws" routerLinkActive="active">Saques</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">
      <a class="has-arrow sidebar-link waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
        <i class="ti-settings"></i>
        <span class="hide-menu">Configurações</span>
      </a>
      <ul aria-expanded="false" class="collapse">
        <li class="sidebar-item sub-item">
          <a class="sidebar-link" routerLink="/settings/account" routerLinkActive="active">Minha Conta</a>
        </li>
        <li class="sidebar-item sub-item">
          <a class="sidebar-link" routerLink="/settings/password" routerLinkActive="active">Alterar Senha</a>
        </li>
        <li class="sidebar-item sub-item">
          <a class="sidebar-link" routerLink="/settings/master" routerLinkActive="active">Alterar Master</a>
        </li>
        <li class="sidebar-item sub-item">
          <a class="sidebar-link" routerLink="/settings/system" routerLinkActive="active">Sistema</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link waves-effect waves-dark" routerLink="/support" aria-expanded="false" routerLinkActive="active">
        <i class="ti-comment-alt"></i>
        <span class="hide-menu">Ticket & Suporte</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link waves-effect waves-dark" (click)="logout()" aria-expanded="false">
        <i class="mdi mdi-logout"></i>
        <span class="hide-menu">Sair</span>
      </a>
    </li>
  </ul>
</nav>
