.sidebar-nav {
  margin-top: 40px !important;
}

.sub-item {
  margin-left: 30px;
  margin-top: -20px !important;
  margin-bottom: -20px !important;
}

.sub-item:last-child {
  margin-bottom: 0 !important;
}
