.logo-icon.mini {
  display: none;
}

.flags {
  visibility: visible !important;
}

@media (max-width: 1024px) {

  .logo-icon {
    display: none;
  }

  .logo-icon.mini {
    display: block;
  }
}

@media (max-width: 600px) {

  .logo-icon {
    display: block;
  }

  .logo-icon.mini {
    display: none;
  }

  .flags {
    visibility: hidden !important;
  }
}
