<div class="row" *ngIf="client else loading">

  <div class="col-lg-4 col-xlg-3 col-md-5">

    <div class="card">

      <div class="card-body">

        <div class="center m-t-30">

          <img src="../../../assets/images/users/1.jpg" class="img-circle" width="150" />

          <h4 class="card-title m-t-10" *ngIf="client">{{ client.name }}</h4>

          <h6 class="card-subtitle" *ngIf="client">{{ client.username }}</h6>

          <div class="row text-center justify-content-md-center m-t-20">

            <div class="col-4">

              <h4 class="text-primary" *ngIf="client">$ {{ client.income | money }}</h4>

              <small>Saldo de rendimento</small>

            </div>

            <div class="col-4">

              <h4 class="text-primary" *ngIf="client">$ {{ client.bonus | money }}</h4>

              <small>Saldo de bônus</small>

            </div>

          </div>

          <div class="row text-center justify-content-md-center m-t-20">

            <button class="btn btn-dark btn-sm btn-rounded m-r-10"><i class="mdi mdi-open-in-new"></i> Acessar
              Conta</button>

            <button class="btn btn-danger btn-sm btn-rounded m-r-10" *ngIf="!client.is_blocked"><i
                class="mdi mdi-lock-outline"></i> Bloquear
              Conta</button>

            <button class="btn btn-outline-danger btn-sm btn-rounded" *ngIf="client.is_blocked"><i
                class="mdi mdi-lock-open-outline"></i>
              Desloquear Conta</button>

          </div>

        </div>

      </div>

      <hr>

      <div class="card-body">

        <small class="text-muted">Gestor</small>

        <h6 *ngIf="manager">{{ manager.name }} <small>{{ manager.username }}</small></h6>

        <small class="text-muted p-t-30 db">Plano</small>

        <h6 *ngIf="plan">{{ plan.name }}</h6>

        <h6 *ngIf="!plan">--</h6>

        <small class="text-muted p-t-30 db">Status</small> <br />

        <span class="label label-default" *ngIf="!client.is_blocked && client.status == 0">Inativo</span>

        <span class="label label-success" *ngIf="!client.is_blocked && client.status == 1">Ativo</span>

        <span class="label label-warning" *ngIf="!client.is_blocked && client.status == 2">Expirado</span>

        <span class="label label-danger" *ngIf="client.is_blocked">Bloqueado</span>

      </div>

    </div>

  </div>

  <div class="col-lg-8 col-xlg-9 col-md-7">

    <div class="card">

      <div class="card-body p-b-0">

        <ul class="nav nav-tabs customtab" role="tablist">

          <li class="nav-item">

            <a [ngClass]="isDocument == false ? 'nav-link active' : 'nav-link'" data-toggle="tab" href="#perfil"
              role="tab">

              <span class="hidden-sm-up"></span><span class="hidden-xs-down"><i class="ti-user"></i> Perfil</span>

            </a>

          </li>

          <li class="nav-item">

            <a class="nav-link" data-toggle="tab" href="#address" role="tab">

              <span class="hidden-sm-up"></span><span class="hidden-xs-down"><i class="ti-location-pin"></i>
                Endereço</span>

            </a>

          </li>

          <li class="nav-item">

            <a class="nav-link" data-toggle="tab" href="#password" role="tab">

              <span class="hidden-sm-up"></span><span class="hidden-xs-down"><i class="ti-lock"></i> Senha</span>

            </a>

          </li>

          <li class="nav-item">

            <a [ngClass]="isDocument == true ? 'nav-link active' : 'nav-link'" data-toggle="tab" href="#docs"
              role="tab">

              <span class="hidden-sm-up"></span><span class="hidden-xs-down"><i class="ti-folder"></i> Documentos</span>

            </a>

          </li>

          <li class="nav-item">

            <a class="nav-link" data-toggle="tab" href="#score" role="tab">

              <span class="hidden-sm-up"></span><span class="hidden-xs-down"><i class="ti-flag-alt"></i>
                Pontuação</span>

            </a>

          </li>

          <li class="nav-item">

            <a class="nav-link" data-toggle="tab" href="#limits" role="tab">

              <span class="hidden-sm-up"></span><span class="hidden-xs-down"><i class="ti-panel"></i> Limites</span>

            </a>

          </li>

        </ul>

        <div class="tab-content">

          <div [ngClass]="isDocument == false ? 'tab-pane active' : 'tab-pane'" id="perfil" role="tabpanel">

            <div class="floating-labels">

              <div class="form-group m-t-40">

                <input id="name" type="text" class="form-control">

                <span class="bar"></span>

                <label for="name">Nome Completo</label>

              </div>

              <div class="form-group m-t-40">

                <input id="birth" type="text" class="form-control" mask='00/00/0000'>

                <span class="bar"></span>

                <label for="birth">Data de Nascimento</label>

              </div>

              <div class="form-group m-t-40">

                <input id="email" type="text" class="form-control">

                <span class="bar"></span>

                <label for="email">E-mail</label>

              </div>

              <div class="form-group m-t-40">

                <input id="username" type="text" class="form-control">

                <span class="bar"></span>

                <label for="username">Username</label>

                <small *ngIf="isUsernameValid==false" class="danger">*Username indisponivel</small>

              </div>

              <div class="form-group m-t-40">

                <input id="phone" type="text" class="form-control" mask='(00) 00000-0000'>

                <span class="bar"></span>

                <label for="phone">Telefone</label>

              </div>

              <div class="form-group text-center p-b-20">

                <div class="col-xs-12">

                  <button type="submit" class="btn btn-outline-primary btn-rounded"><i class="mdi mdi-refresh"></i>
                    Atualizar</button>

                </div>

              </div>

            </div>

          </div>

          <div class="tab-pane" id="address" role="tabpanel">

            <div class="floating-labels">

              <div class="form-group m-t-40">

                <input id="cep" type="text" class="form-control">

                <span class="bar"></span>

                <label for="cep">CEP</label>

              </div>

              <div class="form-group m-t-40">

                <input id="address" type="text" class="form-control">

                <span class="bar"></span>

                <label for="address">Endereço</label>

              </div>

              <div class="form-group m-t-40">

                <input id="number" type="text" class="form-control">

                <span class="bar"></span>

                <label for="number">Número</label>

              </div>

              <div class="form-group m-t-40">

                <input id="complement" type="text" class="form-control">

                <span class="bar"></span>

                <label for="complement">Complemento</label>

              </div>

              <div class="form-group m-t-40">

                <input id="district" type="text" class="form-control">

                <span class="bar"></span>

                <label for="district">Bairro</label>

              </div>

              <div class="form-group m-t-40">

                <input id="city" type="text" class="form-control">

                <span class="bar"></span>

                <label for="city">Cidade</label>

              </div>

              <div class="form-group m-t-40">

                <input id="state" type="text" class="form-control">

                <span class="bar"></span>

                <label for="state">Estado</label>

              </div>

              <div class="form-group text-center p-b-20">

                <div class="col-xs-12">

                  <button type="submit" class="btn btn-outline-primary btn-rounded"><i class="mdi mdi-refresh"></i>
                    Atualizar</button>

                </div>

              </div>

            </div>

          </div>

          <div class="tab-pane" id="password" role="tabpanel">

            <div class="floating-labels m-t-40">

              <div class="alert alert-info alert-dismissable alert-style-1">

                <i class="mdi mdi-information-outline"></i> Não esqueça de informar a nova senha ao cliente.

              </div>

              <div class="form-group m-t-40">

                <input id="pass" type="text" class="form-control">

                <span class="bar"></span>

                <label for="pass">Senha</label>

              </div>

              <div class="form-group text-center p-b-20">

                <div class="col-xs-12">

                  <button type="submit" class="btn btn-outline-primary btn-rounded"><i class="mdi mdi-refresh"></i>
                    Atualizar</button>

                </div>

              </div>

            </div>

          </div>

          <div [ngClass]="isDocument == true ? 'tab-pane active' : 'tab-pane'" id="docs" role="tabpanel">

            <div class="container m-t-20" gallerize>

              <span class="block">Status:</span>

              <span class="label label-default"><i class="mdi mdi-timer-sand"></i> Aguardando</span>

              <span class="label label-success"><i class="mdi mdi-thumb-up-outline"></i> Aprovado</span>

              <span class="label label-danger"><i class="mdi mdi-thumb-down-outline"></i> Reprovado</span>

            </div>

            <div class="container m-t-40 m-b-40" gallerize>

              <img class="img-thumbnail m-t-10 m-r-10" *ngFor="let img of imageData" [src]="img.srcUrl" width="200">

            </div>

            <div class="form-group text-center p-b-20">

              <div class="col-xs-12">

                <button type="submit" class="btn btn-danger btn-rounded m-r-10"><i
                    class="mdi mdi-thumb-down-outline"></i>
                  Reprovar</button>

                <button type="submit" class="btn btn-success btn-rounded"><i class="mdi mdi-thumb-up-outline"></i>
                  Aprovar</button>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<ng-template #loading>

  <ngx-spinner bdOpacity=0.9 bdColor="white" size="medium" color="#363435" type="ball-clip-rotate-pulse"
    [fullScreen]="true">

    <p style="color:grey ;"> Diamond Trading </p>

  </ngx-spinner>

</ng-template>
