<div class="row" *ngIf="user;else loading">

    <div class="col-sm-12">

        <div class=" row">

            <div class="col-sm-4 col-xs-12">

                <div class="card">

                    <div class="card-body">

                        <h5 class="card-title">Total de Bônus</h5>

                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">

                            <span class="display-5"><i class="mdi mdi-currency-usd"></i></span>

                            <span class="display-5 ml-auto">{{user.bonus | money}}</span>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-4 col-xs-12">

                <div class="card">

                    <div class="card-body">

                        <h5 class="card-title">Total de Rendimento</h5>

                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">

                            <span class="display-5"><i class="mdi mdi-currency-usd"></i></span>

                            <span class="display-5 ml-auto">{{user.income | money}}</span>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-4 col-xs-12">

                <div class="card">

                    <div class="card-body">

                        <h5 class="card-title">Total de Contas</h5>

                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">

                            <span class="display-5"><i class="mdi mdi-account-multiple"></i></span>

                            <span class="display-5 ml-auto">100</span>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-8 col-xs-12">

                <div class="row">

                    <div class="col-sm-12 col-xs-12">

                        <div class="card">

                            <div class="card-body">

                                <h6 class="card-title">Últimas Ativações</h6>

                                <table class="table table-hover">

                                    <tbody>

                                        <tr class="pointer">

                                            <td>
                                                <span>20 set 2019 às 23:57:58</span>
                                            </td>

                                            <td>
                                                <span>lukaspgtu</span>
                                            </td>

                                            <td>
                                                <span>Yellow</span>
                                            </td>

                                            <td>
                                                <span class="text-success bold">$ 10</span>
                                            </td>

                                        </tr>

                                        <tr class="pointer">

                                            <td>
                                                <span>20 set 2019 às 23:57:58</span>
                                            </td>

                                            <td>
                                                <span>lukaspgtu</span>
                                            </td>

                                            <td>
                                                <span>Green</span>
                                            </td>

                                            <td>
                                                <span class="text-success bold">$ 10</span>
                                            </td>

                                        </tr>

                                        <tr class="pointer">

                                            <td>
                                                <span>20 set 2019 às 23:57:58</span>
                                            </td>

                                            <td>
                                                <span>lukaspgtu</span>
                                            </td>

                                            <td>
                                                <span>Green</span>
                                            </td>

                                            <td>
                                                <span class="text-success bold">$ 10</span>
                                            </td>

                                        </tr>

                                        <tr class="pointer">

                                            <td>
                                                <span>20 set 2019 às 23:57:58</span>
                                            </td>

                                            <td>
                                                <span>lukaspgtu</span>
                                            </td>

                                            <td>
                                                <span>Green</span>
                                            </td>

                                            <td>
                                                <span class="text-success bold">$ 10</span>
                                            </td>

                                        </tr>

                                        <tr class="pointer">

                                            <td>
                                                <span>20 set 2019 às 23:57:58</span>
                                            </td>

                                            <td>
                                                <span>lukaspgtu</span>
                                            </td>

                                            <td>
                                                <span>Green</span>
                                            </td>

                                            <td>
                                                <span class="text-success bold">$ 10</span>
                                            </td>

                                        </tr>

                                    </tbody>

                                </table>

                                <div class="text-center m-t-10">

                                    <button class="btn btn-outline-primary btn-rounded btn-sm"><i class="mdi mdi-history m-r-5"></i>Ver Todos</button>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-12 col-xs-12">

                        <div class="card">

                            <div class="card-body">

                                <h6 class="card-title">Relação de Planos Ativos</h6>

                                <div class="p-t-15" style="display: block">

                                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors"></canvas>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-4 col-xs-12">

                <div class="row">

                    <div class="col-sm-12 col-xs-12">

                        <div class="card">

                            <div class="card-body">

                                <h6 class="card-title">Últimos Pagamentos</h6>

                                <div class="row hr hover">

                                    <div class="half">

                                        <h5>Bônus</h5>

                                        <small>20 set 2019 às 23:57:58</small>

                                    </div>

                                    <div class="half text-right">

                                        <h5 class="text-danger">$3,690</h5>

                                        <small>20 pessoas</small>

                                    </div>

                                </div>

                                <div class="row hr hover">

                                    <div class="half">

                                        <h5>Rendimento</h5>

                                        <small>20 set 2019 às 23:57:58</small>

                                    </div>

                                    <div class="half text-right">

                                        <h5 class="text-danger">$3,690</h5>

                                        <small>20 pessoas</small>

                                    </div>

                                </div>

                                <div class="text-center m-t-10">

                                    <button class="btn btn-outline-primary btn-rounded btn-sm"><i class="mdi mdi-history m-r-5"></i>Ver Histórico</button>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-12 col-xs-12">

                        <div class="card">

                            <div class="card-body">

                                <h6 class="card-title">Faturas</h6>

                                <div class="row hr hover">

                                    <div class="half">

                                        <h5>Em Aberto</h5>

                                        <small>234 Faturas</small>

                                    </div>

                                    <div class="half text-right">

                                        <h5 class="text-danger">$3,690</h5>

                                    </div>

                                </div>

                                <div class="row hr hover">

                                    <div class="half">

                                        <h5>Pago</h5>

                                        <small>20 Faturas</small>

                                    </div>

                                    <div class="half text-right">

                                        <h5 class="text-danger">$3,690</h5>

                                    </div>

                                </div>

                                <div class="text-center m-t-10">

                                    <button class="btn btn-outline-primary btn-rounded btn-sm"><i class="mdi mdi-eye m-r-5"></i>Ver Detalhes</button>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-12 col-xs-12">

                        <div class="card">

                            <div class="card-body">

                                <h6 class="card-title">Saques</h6>

                                <div class="row hr hover">

                                    <div class="half">

                                        <h5>Aguardando</h5>

                                        <small>20 Saques</small>

                                    </div>

                                    <div class="half text-right">

                                        <h5 class="text-danger">$3,690</h5>

                                    </div>

                                </div>

                                <div class="row hr hover">

                                    <div class="half">

                                        <h5>Confirmados</h5>

                                        <small>202 Saques</small>

                                    </div>

                                    <div class="half text-right">

                                        <h5 class="text-danger">$3,690</h5>

                                    </div>

                                </div>

                                <div class="text-center m-t-10">

                                    <button class="btn btn-outline-primary btn-rounded btn-sm"><i class="mdi mdi-eye m-r-5"></i>Ver Detalhes</button>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<ngx-spinner bdOpacity=0.9 bdColor="white" size="medium" color="#EDA54B" type="ball-clip-rotate-pulse" [fullScreen]="true">
    <p style="color:grey ;"> Diamond Trading </p>
</ngx-spinner>