<div class="row">

  <div class="col-12">

    <div class="card">

      <div class="card-body">

        <div class="row">

          <div class="col-md-12">

            <div class="pull-left">

              <address>

                <h3><b class="text-secondary">Contratação de Plano</b></h3>

                <span class="block">Cliente: <a href="#" class="text-dark m-l-10 weight-500">Lucas Moraes
                    Campos</a></span>

                <span class="block">Gestor: <a href="#" class="text-dark m-l-10 weight-500">Mateus Cardoso</a></span>

                <span class="block">Status: <span class="label label-success m-l-10">Confirmado</span><span
                    class="label label-default m-l-10">Aguardando</span></span>

              </address>

            </div>

          </div>

          <div class="col-md-12">

            <div class="table-responsive m-t-40">

              <table class="table table-hover">

                <thead>

                  <tr>

                    <th>Emissão</th>

                    <th>Descrição</th>

                    <th>Valor</th>

                    <th>Confirmação</th>

                    <th>Forma de Pagamento</th>

                  </tr>

                </thead>

                <tbody>

                  <tr>

                    <td>25 jun 2019 às 00:33:27</td>

                    <td>Plano Grenn</td>

                    <td>$24</td>

                    <td>25 jun 2019 às 00:33:27</td>

                    <td>Bitcoin</td>

                  </tr>

                </tbody>

              </table>

            </div>

          </div>

          <div class="col-md-12">

            <div class="text-center m-t-40">

              <button onClick="javascript:window.history.back();" class="btn btn-outline-dark m-l-10">

                <span><i class="fa fa-arrow-left"></i> Voltar</span>

              </button>

              <button onClick="javascript:window.print();" class="btn btn-outline-dark m-l-10">

                <span><i class="fa fa-print"></i> Imprimir</span>

              </button>

              <button class="btn btn-success m-l-10"><i class="fa fa-check"></i> Confirmar</button>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
