@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed;
}

.login-box {
    width: 400px;
    margin: 0 auto;
    position: relative;
    bottom: 120px;
}

.login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.login-box .social {
    display: block;
    margin-bottom: 30px;
}

#recoverform {
    display: none;
}

.login-sidebar {
    padding: 0px;
    margin-top: 0px;
}

.login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%;
}

.img-logo {
    width: 50%;
}

.center {
    text-align: center;
    align-items: center;
    margin: 0 auto !important;
    float: none !important;
}

.type-account {
    height: 100px;
    width: 110px;
}

.align-h {
    position: relative;
    top: 20px;
}

/* .modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
} */

.form-control:focus {
    box-shadow: 0 0 0 0 !important;
}

.danger {
    color: red;
}